.item-update {
  display: flex;
  flex-direction: column;
  .item-update__title {
      margin: 5px;
  }
  .item-update__description {
      margin: 5px; 
  }
  .item-update__save {
      margin: 5px; 
      width: 50px;
  }
  .item-update_error {
    margin: 0 10px;
    color: #6F2015;
    font-weight: 700;
  }
}