.todo-item__description {
    background: #292847; 
    border-top: 1px solid #383772;
    padding: 10px;
    .todo-item__description-title {
        min-height: 30px;
        padding: 5px;
        background: #383772;
        border-radius: 5px;
    }
    .todo-item__comments {
        padding: 10px;
        .todo-item__comments-item {
            margin-top: 5px;
            border-bottom: 1px solid black;
            min-height: 25px;
        }
    }
}
