.todo-add__btn {
    font-size: 20px;
    color: #00c8ff;
    cursor: pointer;
}
.todo-add__modal {
    display: flex;
    flex-direction: column;
    .todo-add__title {
        margin: 5px;
    }
    .todo-add__description {
        margin: 5px;
    }
    .todo-add__btn {
        font-size: 14px;
        color: #000;
        margin: 5px;
        width: 50px;
    }
}